body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Khand', sans-serif;
}

.searchBar {
  text-align: center;
}

.search {
  padding: 10px;
  font-size: 14px;
  margin: 5px;
  font-style: italic;
}

.search-list {
  padding: 0px;
  margin-left: 10px;
  list-style: none;
  text-align: left;
}

.list-item {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300px;
}

.show-title {
  text-align: center;
}